/**
* COLORS 
*/

// Reds
$color-burnt-sienna: hsl(0, 80%, 63%); //#ec5757
$color-mona-lisa: hsl(0, 100%, 80%); //#ff9797

// Blues
$color-selago: hsl(231, 73%, 93%); //#Dfe3fa
$color-bali-hai: hsl(231, 20%, 61%); //#888eb0
$color-ebony-clay: hsl(233, 30%, 21%); //#252945
$color-mirage: hsl(233, 31%, 17%); //#1e2139
$color-vulcan: hsl(228, 29%, 7%); //#0c0e16

// Purples
$color-cornflower-blue: hsl(252, 94%, 67%); //#7c5dfa
$color-heliotrope: hsl(252, 100%, 73%); //#9277ff

// Neutrals
$color-whisper: hsl(240, 27%, 98%); //#f8f8fb
$color-cinder: hsl(233, 30%, 11%); //#141625
$color-white: hsl(0, 100%, 100%);

//Light Mode
$color-primary: $color-white;
$color-secondary: $color-whisper;

// Dark Mode
$color-primary-dark: $color-cinder;
$color-secondary-dark: $color-mirage;
