.input {
  display: flex;
  flex-direction: column;
}

.input__field {
  width: 100%;
  margin-top: 0.625rem;
  padding: 1rem 1.25rem;
  border: 1px solid;
  border-radius: 0.25rem;
  caret-color: $color-cornflower-blue;
  font-weight: 700;
  @include theme('border-color', $color-ebony-clay, $color-selago);
  @include theme('background-color', $color-mirage, $color-white);
  @include typography-sm;
  @include theme('color', $color-text-primary-dark, $color-text-primary);

  &--invalid {
    border: 1px solid;
    @include theme('border-color', $color-burnt-sienna, $color-burnt-sienna);
  }
}

.input__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__label {
  @include typography-sm;
  @include theme('color', $color-selago, $color-ship-cove);

  &--invalid {
    @include theme('color', $color-burnt-sienna, $color-burnt-sienna);
  }
}

.input__error-message {
  display: none;
  color: $color-burnt-sienna;
  margin-top: 0.625rem;
  @include typography-sm;

  &--show {
    display: inline-block;
  }
}
